 table, 
    tr, 
    th, 
    td{
      border-collapse: collapse;
      padding: 1rem;
      text-align: left;
    }
    th {
      background: gray;
      color: white;
    }
    tr:nth-child(odd){
      background: lightgray;
    }
h1{
    
    text-align: center
}